@page "/"

<PageTitle>Azure Cosmos DB & Azure OpenAI</PageTitle>
<main class="h-100 d-flex flex-row justify-content-start">
    @if (!IsNavMenuCollapsed)
    {
        <NavMenu @ref="@navmenu" OnChatClicked="LoadChatEventHandler" OnNavBarVisibilityUpdated="UpdateNavBarVisibility" />
    }
    <section class="flex-grow-1">
        <ChatPane @ref="@ChatPane" CurrentChatSession="@CurrentSession" OnChatRenamed="ForceRefresh" OnNavBarVisibilityUpdated="UpdateNavBarVisibility" ShowHeader=IsNavMenuCollapsed />
    </section>
</main>

@code {

    private ChatSession CurrentSession;//{ get; set; }

    [Parameter]
    public EventCallback<string> OnChatRenamed { get; set; }

    private ChatPane ChatPane;

    private NavMenu navmenu;


    private bool IsNavMenuCollapsed { get; set; }

    async private void UpdateNavBarVisibility()
    {
        IsNavMenuCollapsed = !IsNavMenuCollapsed;
    }


    async protected override void OnInitialized()
    {
        navmenu = new NavMenu();
        ChatPane = new ChatPane();

    }
    async public void LoadChatEventHandler(ChatSession session)
    {
        CurrentSession = session;

        ChatPane.CurrentChatSession = session;

        // Inform blazor the UI needs updating
        InvokeAsync(StateHasChanged);
    }

    async public void ForceRefresh()
    {
        // Inform blazor the UI needs updating
        InvokeAsync(StateHasChanged);
        navmenu.UpdateNavMenuDisplay("Rename by Open AI");

    }
}