@page "/login"

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;

@inject AuthenticationStateProvider AuthenticationStateProvider

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <p>You are already logged in.</p>
            <p><a href="/">Go to the home page</a></p>
        </Authorized>
        <NotAuthorized>
            <h1>Login</h1>
            <p>You need to log in to access this page.</p>
            <button class="btn btn-primary" @onclick="Logins">Login with Azure AD</button>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@inject NavigationManager NavigationManager

@code {
    private async Task Logins()
    {
        var redirectUri = NavigationManager.ToAbsoluteUri("/Callback");
        var tenantId = "72f988bf-86f1-41af-91ab-2d7cd011db47";
        var clientId = "395e5346-ddd2-4a71-b0e0-a9b56e622112";

        // Redirect the user to the Azure Active Directory login page
        NavigationManager.NavigateTo($"https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/authorize?client_id={clientId}&response_type=code&redirect_uri={redirectUri}&response_mode=query&scope=openid%20profile%20offline_access");
    }
}
