@inherits LayoutComponentBase

<PageTitle>Azure Cosmos DB + ChatGPT</PageTitle>

<!--
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
-->
<div class="h-100 d-flex flex-row">
	<div class="flex-row justify-content-center" style="min-width:275px">
        <NavMenu />
	</div>

	<div class="flex-row justify-content-center flex-grow-1">
        @Body
	</div>

</div>
